name: MLOPS CI
on:
  push:
    branches:
      - main

  pull_request:
    branches:
     - main

jobs:
 workflows:
   runs-on: ubuntu-latest
   steps:
    - name: Checkout code   
      uses: actions/Checkout@v2

    - name: Set up python
      uses: actions/setup-python@v5
      with:
       python-version: '3.11.5'

    - name: Install dependencies 
      run: |
       python -m pip install --upgrade pip
       pip install -r requirements.txt 


    - name: Run Model Training
      run: |
       python src/data/run_processing.py   --input data/raw/house_data.csv   --output data/processed/cleaned_house_data.csv



